<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body>
    <div class="header">
        <header>
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item">
                            <a class="nav-link active" href="">Мой аккаунт</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Для бизнесса</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">О нас!</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Post</h5>
                    <p class="card-text">Поссылки-поссылки-поссылки!</p>
                    <a href="/office/login" class="btn btn-primary" name="find_myPost">Найти мою посылку!</a>
                </div>
            </div>
        </header>
        </div>
    </div>
</body>
</html>